<a href="https://colab.research.google.com/github/mdasaduzzamanrupok/mdasaduzzamanrupok/blob/main/For_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#For Loop

In [ ]:
data = 'python'

In [38]:
data[0]

'I'

In [39]:
data[-1]

'much'

In [41]:
for y in data:
  print(y)

I
love
bangladesh
so
much

In [ ]:
range(10)

In [ ]:
range(0,10)

In [ ]:
for x in range(len(data)):   #range use than same work
  print(data[x])

p
y
t
h
o
n

In [40]:
data='I love bangladesh so much'
for x in range(len(data)):
  print(data[x])

I

l
o
v
e

b
a
n
g
l
a
d
e
s
h

s
o

m
u
c
h

In [ ]:
data='I love bangladesh so much'
data= data.split()
for x in range(len(data)):
  print(data[x])

I
love
bangladesh
so
much

In [ ]:
n =[2,3,4,7,8,44,99,100]
total=0
for x in n:
  total = total+x
  print(total,x)

2 2
5 3
9 4
16 7
24 8
68 44
167 99
267 100

In [ ]:
for i in range(10):   
   print('I love bangladesh',i)

I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh
I love bangladesh

In [44]:
for i in range(5,10,2):  #start , end , increment and decrement i=i+2
  print('i love BD',i)

i love BD 5
i love BD 7
i love BD 9

In [48]:
for i in range(20,0,-1):
  print('value',i)

value 20
value 19
value 18
value 17
value 16
value 15
value 14
value 13
value 12
value 11
value 10
value 9
value 8
value 7
value 6
value 5
value 4
value 3
value 2
value 1

#Few exercise 

#Exercise-1: Display numbers from -100 to -10 using for loop

In [53]:
for i in range(100,0,-10):
  print(i)

100
90
80
70
60
50
40
30
20
10

#Exercose-2: Find the factorial of a n!.(hint n=7:)

In [70]:
fact = 1
num=int(input('Enter the number: '))
for x in range(1,num+1):
  fact=fact*x
print(num,'factorial= ',fact)

Enter the number: 10
10 factorial=  3628800