# Python Break Statement

In [2]:
for i in range(1,100):
    if i == 11:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10

In [3]:
for i in range(1,100):
    if i == 11:
        break
    print('3 *',i,'=',i*3)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [2]:
sen = 'I love Bangladesh and Turkey'

In [3]:
for i in sen.split():
    if i =='and':
        break
    print(i)

I
love
Bangladesh

In [4]:
i = 1
while i<=100:
    if i==11:
        break
    print('5 *',i,'=',i*5)
    i=i+1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50