<a href="https://colab.research.google.com/github/mdasaduzzamanrupok/mdasaduzzamanrupok/blob/main/While_Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#While Loop

In [2]:
i = 0 
while (i<=10):  #while expression 
   print(i)
   i += 1   #statement Ex- i = i+1

0
1
2
3
4
5
6
7
8
9
10

In [3]:
data ='python'
data[0]

'p'

In [10]:
index = 0
while index<len(data):
   print(data[index], index)
   index = index+1

p 0
y 1
t 2
h 3
o 4
n 5

In [16]:
data = 'I love Bangladesh'
data = data.split()
index = 0
while index<len(data):
   print(data[index])
   index += 1

I
love
Bangladesh

In [24]:
number = [2,3,5,4,5,84,100]
total=0
index=0
while (index<len(number)):
    total=total+number[index]
    print(index,total)
    index+=1

0 2
1 5
2 10
3 14
4 19
5 103
6 203

#Exercise
#Display numbers from -100 to -10 using while loop

In [31]:
num = -100
while num<=-10:
  print(num, end="")
  num +=1

-100-99-98-97-96-95-94-93-92-91-90-89-88-87-86-85-84-83-82-81-80-79-78-77-76-75-74-73-72-71-70-69-68-67-66-65-64-63-62-61-60-59-58-57-56-55-54-53-52-51-50-49-48-47-46-45-44-43-42-41-40-39-38-37-36-35-34-33-32-31-30-29-28-27-26-25-24-23-22-21-20-19-18-17-16-15-14-13-12-11-10

#Find the factorial of a n!. (hint, n=7: 5040):

In [32]:
fact = 1 
factnumber = 7
while factnumber>0:
  fact=fact*factnumber
  print(fact)
  factnumber= factnumber-1

7
42
210
840
2520
5040
5040